*{
    margin: 0px;
    padding: 0px;
}
nav{
    padding: 5px;
}
nav a{
    text-decoration: none;
    margin: 55px;
    padding: 5px;
}
header{
    background-color: deeppink;
    height: 30px;
}
#second{
    height: 50px;
    width: 50px;
    background-color: rgb(111, 18, 18);
    border-radius: 50%;
}

.box{
    height: 100px;
    width: 100px;
    background-color: darkgreen;
    margin: 5px;
    display: inline-block;
}
#box2{
    z-index: 2;
    position: absolute;
    left: 40px;
}
#container{
    border: 3px solid;
    margin: 5px;
}
#box4{
    position: fixed;
    margin: 10px;
    right: 200px;
}
footer{
position: fixed;
bottom: 300px;
background-color: gray;
}